<h1>Shelter Details</h1>

<p>
  <%= @shelter.name %>
  <br>
  <%= @shelter.address %>
  <br>
  <%= @shelter.city %>,
  <%= @shelter.state %>
  <%= @shelter.zip %>
</p>
<p>
  <a href="/shelters/<%= @shelter.id %>/edit">Edit Shelter</a>
  <%= button_to "Edit Shelter", "/shelters/#{@shelter.id}/edit", method: :get %>
  <br>
  <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
