<h1>Pet Details</h1>

<ul>
  <li><%= @pet.name %></li>
  <li><%= @pet.sex %></li>
  <li><%= @pet.age %></li>
  <li><%= @pet.description %></li>
  <li><%= @pet.adoptable %></li>
  <li><img src="<%= @pet.image %>"></li>
</ul>
